body {
    margin: 0;
}

.layout {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    flex-shrink: 0;
    padding: 20px;
    border-right: solid 1px black;
    box-sizing: border-box;
    overflow-y: hidden;
    height: 100vh;
}

.main-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    height: 100vh;
}